streamlit
langchain-openai
langchain
langchain-community
langchain-core
openai
python-docx
markitdown
PyPDF2
Pillow
PyMuPDF
requests
pysqlite3-binary
aiohttp
nest-asyncio
click
protobuf
numpy
pandas
matplotlib
jinja2
typing-extensions
sqlalchemy
altair
websockets